* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

html {
  height: 100%;
  font-family: 'TT Norms', sans-serif;
  padding: constant(safe-area-inset-top) constant(safe-area-inset-right)
    constant(safe-area-inset-bottom) constant(safe-area-inset-left);
}

html,
body {
  margin: 0;
}

body {
  height: 100%;
}

ul {
  list-style: none;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #15191d;
  text-transform: uppercase;
  letter-spacing: 1px;
}

p {
  margin: 5px 0 10px;
  font-size: 1rem;
  line-height: 1.6;
  color: #15191d;
  font-family: 'TT Norms', sans-serif;
}

.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0.55);
  border: none;
  background-color: transparent;
}
.navbar-toggler:focus {
  text-decoration: none;
  outline: none;
  box-shadow: none;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.55);
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
    padding-bottom: 0;
  }
}
.navbar-light .navbar-nav .nav-link {
  font-size: 1.1em !important;
}
.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
}
.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #0d6efd;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}
